<nav class="navbar">
  <div class="nav-container">
    <img class="logo" src="{{ url_for('static', filename='images/voice.png') }}" alt="Photo" width="70" height="70">
    <div class="navbar-links">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('edit') }}">Edit</a>
        </li>
        <li class="nav-item">
          <a id="lib"class="nav-link" href="{{ url_for('library') }}">Library</a>
        </li>
      </ul>
    </div>
    <div class="profile">
      <img class="profile-icon" src="{{ url_for('static', filename='images/profilepic.png') }}" alt="Profile" width="30" height="30">
      <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
    </div>
  </div>
</nav>
<hr>
