{% extends "base.html" %}

{% block main %}
<h1>Library</h1>
<div class="librarysection">
    <div>
        <h3>Commands</h3>
        <a href="{{ url_for('voicecommands') }}">
            <img src="{{ url_for('static', filename='images/voice1.png') }}" alt="Commandimg" class="librarybtn" width="150" height="130">
        </a>
    </div>
    <div>
        <h3>Designs</h3>
        <a href="{{ url_for('designs') }}">
            <img src="{{ url_for('static', filename='images/design2.png') }}" alt="Designimg" class="librarybtn" width="130" height="130">
        </a>
    </div>
    <div>
        <h3>Scripts</h3>
        <a href="{{ url_for('scripts') }}">
            <img src="{{ url_for('static', filename='images/script2.png') }}" alt="Scriptimg" id="librarybtn" width="130" height="130">
        </a>
    </div>
</div>
{% endblock %}