{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block main %}
<div class="librarysection">
    <div>
        <h3>Uploads</h3>
        <a href="{{ url_for('upload') }}">
            <img src="{{ url_for('static', filename='images/upload.png') }}" alt="Uploadimg" class="librarybtn" width="150" height="150">
        </a>
    </div>
    <div>
        <h3>Commands</h3>
        <a href="{{ url_for('voicecommands') }}">
            <img src="{{ url_for('static', filename='images/command.png') }}" alt="Commandimg" class="librarybtn" width="150" height="150">
        </a>
    </div>
    <div>
        <h3>Designs</h3>
        <a href="{{ url_for('designs') }}">
            <img src="{{ url_for('static', filename='images/design.png') }}" alt="Designimg" class="librarybtn" width="150" height="150">
        </a>
    </div>
    <div>
        <h3>Scripts</h3>
        <a href="{{ url_for('scripts') }}">
            <img src="{{ url_for('static', filename='images/script.png') }}" alt="Scriptimg" id="librarybtn" width="150" height="150">
        </a>
    </div>
</div>
{% endblock %}

<!-- {% block js %} 
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
anime.js library
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

{% endblock %} -->
